@font-face {
    font-family: Langdon;
    src: url(Langdon.otf);
}

* {
  margin: 0;
  padding: 0;
}

.reviewTitle {
  margin-bottom: 45px;
}

.newsTitle {
  margin-top: 65px;
  font-size: 45px;
  margin-bottom: 20px;
}

.newsSource {
  margin-top: 25px;
}

Grid p {
  margin-top: 20px;
}

.waterStyle {
  height: 65px;
}

.reviewVal {
  margin-top: 45px;
  font-family: Langdon;
  font-size: 120px;
}

.searchbar {
  margin-top: 35px;
  width: 70%;
  display: inline-block;
}

.searchfield {
  height: 35px;
  width: 91.03%;
  margin-left: 25px;
  font-size: 20px;
}

.searchbutton {
  font-size: 20px;
}

.navbar {
  height: 75px;
  margin-left: 25px;
}

.homeImg {
  margin-left: 125px;
  margin-right: 125px;
  height: 780px;
}

.App-logo {
  height: 150px;
  display: inline-block;
  margin-left: 125px;
}

.App-header {
  height: 100%;
  width: 100%;
  margin-top: 75px;
  justify-content: center;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
}

.App {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
